* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar { 
  border-radius: 5px;
  width: 4px;
  height: 4px;
  background-color: rgb(204, 204, 204);
  left: 100px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(165, 165, 165);
}

body {
  margin: 0;
  background-color: rgb(186, 210, 218);
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  position: absolute;
  display: flex;
  box-shadow: 20px 15px 15px rgba(36, 36, 36, 0.2);
  background-color: #F5F5F5;
  height: 650px;
  width: 1200px;
  max-width: 1200px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.header {
  background-color: rgb(228, 228, 228); 
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 15px;
  &_input {
    width: 100%;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
    outline: none;
    padding-left: 30px;
  }
  &_input-wrapper {
    position: relative;
    .search {
      position: absolute;
      width: 15px;
      left: 10px;
      top: 30px;
      z-index: 1;
    }
  }
}

//---------------------------- logo

.logo {
  width: 50px;
  height: 50px;
  max-width:100%;
  
  border-radius: 50%;
}


.logo-wrapper {
  display: block;
  position: relative;
  height: 20%;
  
  .mark {
    position: absolute;
    top: 33px;
    left: 37px;
    width: 18px;
  }
}

//----------------------------

.chats {
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-right: 1px solid rgb(204, 204, 204);

  &-wrapper {
    height: 58%;
    overflow: auto;
  }

  &-headline {
    padding: 40px 0px 40px 10px;
    height: 20%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(79, 190, 235);
  }
}


.chat {
  padding: 20px 0px 20px 10px;
  height: 90px;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(204, 204, 204);
  transform: background-color 0.1s;

  &:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
  }

  &_info {
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    letter-spacing: 0.05rem;
    &-message {
      margin: 0;
      color:rgb(128, 128, 128);
      letter-spacing: normal;
      width: 300px;
      -webkit-line-clamp: 1; 
      display: -webkit-box; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 3px;
      font-size: 13px;
      font-weight: 300;
    }
  }

  &_date {
    position: absolute;
    top: 30px;
    font-size: 13px;
    font-weight: 300;
    right: 20px;
  }
}

// ---------------------------- person

.person {
  width: 60%;
  position: relative;
  &_header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(228, 228, 228); 
    border-bottom: 1px solid rgb(204, 204, 204);
  }

  &_name {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  .person_message-list {
    height: 72%;
    overflow: auto;
  }

  &_send-message {
    position: absolute;
    background-color: rgb(228, 228, 228); 
    border-top: 1px solid rgb(204, 204, 204);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
  }
}

.type-message-btn {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
}

.type-message-link {
  cursor: pointer;
}

.type-message-icon {
  position: absolute;
  top: 35px;
  right: 40px;
  height: 25px;
}

.message-after-load-wrapper {
  width: 60%;
}

.message-after-load {
  background-color: rgb(204, 204, 204);
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.2s;
}

.message {
  padding: 15px 10px;
  max-width: 70%;
  &_photo {
    width: 50px;
    height: 50px;
  }
  &_text {
    color: white;
    background-color: rgb(48, 47, 47);
    padding: 13px 10px;
    border-radius: 20px;
    margin: 0;
    margin-left: 10px;
  }
  &_date {
    color: rgb(128, 128, 128);
    font-size: 13px;
    font-weight: 300;
    margin-left: 65px;
  }
}

.message-wrapper {
  display: flex;
  margin-bottom: 5px;
}

.message-send {
  margin-left: auto;
  text-align: right;
  padding: 15px 10px;
  max-width: 70%;
}

.message_date-send {
  color: rgb(128, 128, 128);
  font-size: 13px;
  font-weight: 300;
  margin-right: 5px;
}

.message-wrapper-send {
  display: flex;
  justify-content: end;
  text-align: right;
}

.message_text-send {
  color: black;
  margin-left: auto;
  background-color: rgb(221, 221, 221);
  padding: 13px 10px;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 5px;
}